# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Logs
/logs
/audits

# Firebase
.firebase/
*.firebase.*
*firebase.json
*.firebaserc
firebase-debug.log
firebase-debug.*.log
/backups/
